<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
   Copyright (c) 2020,2021 1C-Soft LLC.
   This program and the accompanying materials are made available under
   the terms of the Eclipse Public License 2.0 which is available at
   https://www.eclipse.org/legal/epl-2.0/
   SPDX-License-Identifier: EPL-2.0
   Contributors:
       1C-Soft LLC - initial API and implementation
-->
<?pde version="3.8"?><target name="1C:EDT Ruby Platform" sequenceNumber="1">
<locations>

<!-- EDT -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com._1c.g5.v8.dt.rcp" version="0.0.0"/>
<unit id="com._1c.g5.v8.dt.thirdparty.feature.group" version="0.0.0"/>
<unit id="com._1c.g5.v8.dt.feature.feature.group" version="0.0.0"/>
<unit id="com._1c.g5.v8.dt.platform.support_v8.3.19.feature.feature.group" version="0.0.0"/>
<repository id="dt_repository" location="https://edt.1c.ru/downloads/releases/ruby/2026.2/"/>

</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
</location>

<!-- LIBS -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository/"/>
</location>

<!-- ORBIT 4.38.0 -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository id="artifactory" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.38.0/"/>
    <unit id="org.eclipse.orbit.maven.org.apache.batik.feature.group" version="4.38.0"/>
    <unit id="jakarta.xml.bind-api" version="2.3.3"/>
    <unit id="jakarta.activation-api" version="1.2.2"/>
    <unit id="jakarta.activation-api.source" version="1.2.2"/>
    <unit id="jakarta.inject.jakarta.inject-api" version="1.0.5"/>
    <unit id="jakarta.inject.jakarta.inject-api.source" version="1.0.5"/>
</location>

<!-- Eclipse -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.orbit.xml-apis-ext" version="0.0.0"/>
<unit id="org.osgi.service.http.whiteboard" version="0.0.0"/>
<unit id="org.eclipse.equinox.http.service.api" version="0.0.0"/>
<unit id="org.jcodings" version="0.0.0"/>
<unit id="org.joni" version="0.0.0"/>
<repository id="eclipse_repository" location="https://download.eclipse.org/releases/2025-12/"/>
</location>


<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.brainwy.liclipsetext.feature.feature.group" version="0.0.0"/>
<repository location="http://update.liclipse.com/latest"/>
</location>

</locations>
</target>