<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.mard.dt.editing.internal.ui.ExecutableExtensionFactory:org.mard.dt.editing.ui.decorators.DisableEditing"
            id="org.mard.dt.editing.ui.decorators.DisableEditing"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
             <or>
                <objectClass
                      name="org.eclipse.core.resources.IResource">
                </objectClass>
                <objectClass
                      name="org.eclipse.emf.ecore.EObject">
                </objectClass>
             </or>
         </enablement>
         <description>
            %decorator.description
         </description>
      </decorator>
   </extension>

</plugin>
